body
{
	background-color:  #DEB887;
}
h1
{
	text-align: center;
}
h5
{
	padding-left: 15%;
	font-weight: 600;
}
.form-group
{
	padding-left: 15%;
}

.radio
{
	padding-left: 17%;
}
.form-control
{
	    width: 24%;
}
.table
{
	max-width: 72%;
}
.now a
{
	color: red;
}
.table-bordered
{
	 margin-left: 15%;
}
.pagination
{
	margin-left: 15%;
}
.glyphicon-sort-by-attributes
{
	    margin-left: 67%;
}
#img1 {
	width: 7%;
}